<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="横浜市ゴミ分別bot">
    <meta name="robots" content="noindex">

    <!-- <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://">
    <link rel="shortcut icon"   href="favicon.ico">
    <link rel="apple-touch-icon" href="icon.png"> -->
    <title>プライバシーポリシー | 横浜市ゴミ分別bot</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63022174-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-63022174-2');
    </script>

  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">横浜市ゴミ分別bot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class='nav-link' href='https://recycle-bot.ck9.jp/'>TOP</a></li>
                <a class='nav-link' href='https://line.me/R/ti/p/%40533bgqdt'>友だち追加</a></li>
                <a class='nav-link' href='https://recycle-bot.ck9.jp/privacy'>プライバシーポリシー</a></li>
            </div>
        </div>
    </div>
    </nav>

    <div class="container"><br>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">プライバシーポリシー</h2>
    <p class="card-text">
        <p>このプライバシーポリシー（以下「本ポリシー」といいます）は、当サービス運営者（以下「当運営」といいます）が、当運営のウェブサイトやアプリケーション（以下「本サービス」といいます）を利用する個人（以下「ユーザー」といいます）に対して、個人情報の収集、使用、保護に関する情報を提供するものです。 </p>
        
        <h4>収集される情報</h4>
        <p>
          当運営は、ユーザーが本サービスを利用する際に、以下の情報を収集することがあります：
          <ul>
            <li>ユーザーが提供する個人情報（例：送信された画像および画像に含まれる個人情報）</li>
          </ul>
        </p>
        
        <h4>収集された情報の使用 </h4>
        <p>
          当運営は、収集した情報を以下の目的で使用することがあります：
          <ul>
            <li>ユーザーの本サービス利用の提供および改善 </li>
            <li>法的要件の遵守</li>
          </ul>
        </p>
        
        <h4>情報の共有</h4>
        <p>
          当運営は、ユーザーの個人情報を第三者と共有することはありません（以下の場合を除く）：
          <ul>
            <li>ユーザーの同意がある場合 </li>
            <li>法的要求や法的手続きに対応する必要がある場合 </li>
          </ul>
        </p>
        
        <h4>データの保護</h4>
        <p>当運営は、ユーザーの個人情報の適切な保護に努めます。適切な物理的、技術的、組織的なセキュリティ対策を講じ、不正アクセス、紛失、漏洩、改ざんのリスクに対処します。</p>
        
        <h4>Cookieの使用</h4>
        <p>当運営は、本サービスでCookieを使用することがあります。Cookieは、ユーザーのブラウザに保存される情報であり、本サービスの改善やパーソナライズされた体験の提供に使用されます。ユーザーはブラウザの設定でCookieの利用を制御することができます。 </p>
         
        <h4>外部リンク</h4>
        <p>本サービスは、第三者のウェブサイトへのリンクを含む場合があります。当社は、リンク先のウェブサイトのプライバシーについては責任を負いません。リンク先のウェブサイトを利用する際には、そのウェブサイトのプライバシーポリシーをご確認ください。 </p> 
        
        <h4>未成年者への注意事項</h4>
        <p>本サービスは、未成年者による利用につきましては、未成年者は、親権者や法的な保護者の同意または指導の下で本サービスを利用する必要があります。</p>
        
        <h4>プライバシーポリシーの変更</h4>
        <p>当社は、本ポリシーを随時更新することがあります。重要な変更がある場合は、本サービス上で通知いたします。最新のプライバシーポリシーについては、定期的にご確認ください。</p>
         
        <h4>お問い合わせ</h4>
        <p>
          本ポリシーに関するお問い合わせや個人情報の削除依頼などがある場合は、以下の連絡先までご連絡ください：<br>
          Email: ynu2021progroup2@gmail.com
        </p>

    </p>
  </div>
</div>


    <footer class="footer container text-center">
        <div class="row">
            <div class="col align-self-center">
                <p>
                    <a href="https://recycle-bot.ck9.jp/" class="text-dark text-decoration-none">TOP</a> | <a href="https://line.me/R/ti/p/%40533bgqdt" class="text-dark text-decoration-none">友だち追加</a> | <a href="https://recycle-bot.ck9.jp/privacy" class="text-dark text-decoration-none">プライバシーポリシー</a><br>
                    <span class="my-2 d-block text-dark">©︎ 2017-2023 ck9.jp</span>
                </p>
            </div>
        </div>
    </footer>

  </body>
</html>
